body {
  background: white;
}

li a {
  color: green;
}

.main {
  background: white;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-left: 4%;
}

@media (min-width: 768){
  body {
    background: #332c2c;
  }
  .main{
    box-shadow: 0 0 40px #000000;
    width:768px;
  }
}

@media (min-width: 979px){
  .main {
    padding-top: 40px;
    width: 979px;
  }
}

