body {
  background: white;
}

li a {
  color: green;
}

.main {
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-left: 4%;
}

@media (min-width: 768){
  body {
    background: #332c2c;
  }
  .main{
    box-shadow: 0 0 40px #000000;
    width:768px;
  }
  .header {
  background: #dddddd;
  width: 100%;
  }
}

@media (min-width: 979px){
  .main {
    width: 960px;
    margin-top: 60px;

  }
}

.header h1 {
  padding-left: 3%;
  padding-top: 4px;
  padding-bottom: 2px;
}

.navbar {
  box-shadow: 0 0 20px #000000;
}

@media (min-width: 1300px){
  .main {
    width: 1300px;
  }
}

.footer {
  color: white;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 768px){
  .footer {
    color: #332c2c;
  }
}

.secondary {
  text-align: center;
  transition: background 0.32s ease-in-out;
  height: 175px;
  border-radius: 20px;
}

.secondary:hover {
  background: #dddddd;
}

.pollsRow {
  margin-left: auto;
  margin-right: auto;
}

.pollsRow a{
  text-decoration: none;
  color: black;
}
