{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-responsive.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class = "main">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">A&M</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="http://www.google.com">Google</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="header">
    <h1>
      {% block header %}
        Polls
      {% endblock %}
    </h1>
  </div>
  <div class="content">
  {% block content %}  
  {% if object_list %}
      <ul>
      {% for object in object_list %}
          <li><a href="{{ object.id }}/">{{ object.question }}</a></li>
      {% endfor %}
     </ul>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}
  {% endblock %}
  </div>
</div>
