{% extends "polls/index.html" %}

{% block heading1 %}
  {{ object.question }}
{% endblock %}

{% block header %}
  {{ object.question }}
{% endblock %}

{% block results %}

{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form class="form-horizontal" action="/{{ object.id }}/vote/" method="post">
  {% csrf_token %}
  <div class="control-group">

  {% for choice in object.choice_set.all %}
       <label class="radio" for="choice{{ forloop.counter }}">
         {{ choice.choice }}
         <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
       </label>
  {% endfor %}
  <input class="btn-primary" type="submit" value="Vote" />
  </div>

</form>
{% endblock %}
